extends template

block content
    form#js-login-form.form
        h1.title.center Admin
        #js-error-message
        #js-admin
        button.form-input.button(type='button' onclick='changeGameStatus()') Start Game
        button.form-input.button(type='button' onclick='endGame()') End Game
        // start game
        // end game
        // edit rules
        // remove users
        // approve kills

block postscript
    script fetchAdmin();
