extends template

block content
    #navbar.right
        a(href='/logout').quiet-link.navbar-item Logout
    form#js-login-form.form
        h1.title.center Admin
        #js-error-message
        button.form-input.button(type='button' onclick='startGame()') Start Game
        #js-players
        button.form-input.button(type='button' onclick='endGame()') End Game
        // start game
        // end game
        // edit rules
        // remove users
        // approve kills

block postscript
    script fetchPlayers();
