extends template

block content
    form#js-login-from.form
        h1.form-title Create New Game
        input.form-input(type='text' name='gameName' placeholder='Game Name')
        input.form-input(type='text' name='gameCode' placeholder='Game Code')
        input.form-input(type='text' name='email' placeholder='Email')
        input.form-input(type='password' name='password' placeholder='Password')
        input.form-input(type='text' name='setRules' placeHolder='Set Rules') 
        button.form-input.button(type='button' onclick='submitForm') Submit   
