extends template

block content
    form#js-login-from.form
        h1.form-title Create New Game
        #js-error-message
        input.form-input(type='text' name='gameName' placeholder='Game Name')
        input.form-input(type='text' name='gameCode' placeholder='Game Code' onFocus='clearError(this)')
        input.form-input(type='text' name='email' placeholder='Email' onFocus='clearError(this)')
        input.form-input(type='password' name='password' placeholder='Game Password' onFocus='clearError(this)')
        input.form-input(type='text' name='setRules' placeHolder='Set Rules') 
        button.form-input.button(type='button' onclick='submitCreateForm()') Submit   
