extends template

block content
    h1.title.center Assassins
    .modal
        .modal-content
            h1.title Login as
            #login-buttons
                button.login-button.button(type='button' onclick="location.href='/login/player'") Player
                button.login-button.button(type='button' onclick="location.href='/login/admin'") Admin
    #home-page-buttons
        button.home-page-button.button(type='button' onclick="location.href='/create'") Create a New Game
        button.home-page-button.button(type='button' onclick="location.href='/join'") Join a Game
        button.home-page-button.button(type='button' onclick='showModal()') Login
