extends template

block content
    h1.title.center Assassins
    #home-page-buttons
        button.home-page-button(type='button' onclick="location.href='/admin'") Create a New Game
        button.home-page-button(type='button' onclick="location.href='/join'") Join a New Game
        button.home-page-button(type='button' onclick='') Login to Existing Game
